<!DOCTYPE html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Founded in db: style</title>

    <link rel="stylesheet" href="/static/style.css"> 
    
    

    <link rel="stylesheet" href="/static/github.css"> 



    <script src="/static/htmx.js" defer="">
    </script>
    <script src="/static/utils.js" defer="">
    </script>


<meta charset="UTF-8"><meta name="viewport" content="width=device-width, initial-scale=1.0"><title></title><link rel="stylesheet" href="/static/style.css"><link rel="stylesheet" href="/static/github.css"><script src="/static/htmx.js" defer="">
    </script><script src="/static/utils.js" defer="">
    </script><style>      .htmx-indicator{opacity:0}      .htmx-request .htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}      .htmx-request.htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}      </style><style>      .htmx-indicator{opacity:0}      .htmx-request .htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}      .htmx-request.htmx-indicator{opacity:1; transition: opacity 200ms ease-in;}      </style></head>



    
    
    

     
    
    

     



    
    





<body>
    <nav>
        <button id="theme-toggle">☀</button>
    </nav>

    <main class="">
        <article id="fileList" class="width-50 width-100" data-counter="29" data-name="style" data-offset="0">

            

            
<form action="/search" method="POST" class="form flex column" id="search-form">
    <input class="" type="text" id="name" name="name" required="" placeholder="search" value="style">
    <div>
        <label for="like" class="">
            <input type="checkbox" id="like" name="like">
            Like 
        </label>
        <label for="dir">
            <input type="checkbox" id="dir" name="dir">
            Dir
        </label>
    </div>
    <button class="primary" type="submit" id="submit">Submit</button>
</form>

            <ul id="list-headers" class="file-list headers">
                <li id="sort-name" data-sort-type="name" data-ascending="true">name</li>
                <li id="sort-size" data-sort-type="size" data-ascending="true">size</li>
                <li id="sort-date" data-sort-type="moddate" data-ascending="true">date</li>
            </ul>
            
            <ol id="list" class="file-list" type="1">
                
    
            <li class="item-list" id="entry" data-size="2488" data-name="stylecss" data-moddate="2025-05-22 09:48:30 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/20955" class="strong" hx-get="/preview/20955" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/20955">
                                (20955)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            2.43 KB
                    </span> 
                

                <time datetime="2025-05-22 09:48:30" class="">
                    2025-05-22 09:48:30
                </time>   
                <span class="">
                    C:/Users/ice/Documents/golang/gofiles/static 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="1447" data-name="stylepy" data-moddate="2025-05-08 12:51:27 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/5886" class="strong" hx-get="/preview/5886" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.py
                        </a> 
                        <span class="item-id">
                            <a href="/detail/5886">
                                (5886)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            1.41 KB
                    </span> 
                

                <time datetime="2025-05-08 12:51:27" class="">
                    2025-05-08 12:51:27
                </time>   
                <span class="">
                    C:/Users/ice/Documents/chroma/_tools 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="12043" data-name="stylego" data-moddate="2025-05-08 12:51:27 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/6852" class="strong" hx-get="/preview/6852" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.go
                        </a> 
                        <span class="item-id">
                            <a href="/detail/6852">
                                (6852)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            11.76 KB
                    </span> 
                

                <time datetime="2025-05-08 12:51:27" class="">
                    2025-05-08 12:51:27
                </time>   
                <span class="">
                    C:/Users/ice/Documents/chroma 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="1062" data-name="stylecss" data-moddate="2025-04-11 10:03:08 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/21518" class="strong" hx-get="/preview/21518" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21518">
                                (21518)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            1.04 KB
                    </span> 
                

                <time datetime="2025-04-11 10:03:08" class="">
                    2025-04-11 10:03:08
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-journey/src 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="1022" data-name="stylecss" data-moddate="2025-04-11 10:03:08 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/21318" class="strong" hx-get="/preview/21318" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21318">
                                (21318)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            1022 B
                    </span> 
                

                <time datetime="2025-04-11 10:03:08" class="">
                    2025-04-11 10:03:08
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-journey/_counter_star_wars_src 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="2704" data-name="stylecss" data-moddate="2025-01-28 11:05:54 +0100 CET">

                



                    
                    <span>
                        <a href="/preview/21244" class="strong" hx-get="/preview/21244" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21244">
                                (21244)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            2.64 KB
                    </span> 
                

                <time datetime="2025-01-28 11:05:54" class="">
                    2025-01-28 11:05:54
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-gg-portfolio/src 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="139" data-name="stylecss" data-moddate="2024-08-13 14:32:24 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/21528" class="strong" hx-get="/preview/21528" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21528">
                                (21528)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            139 B
                    </span> 
                

                <time datetime="2024-08-13 14:32:24" class="">
                    2024-08-13 14:32:24
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-route/D3 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="4562" data-name="stylecss" data-moddate="2024-07-25 15:02:38 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/21706" class="strong" hx-get="/preview/21706" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21706">
                                (21706)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            4.46 KB
                    </span> 
                

                <time datetime="2024-07-25 15:02:38" class="">
                    2024-07-25 15:02:38
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-route/vanilla/hacker_news 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="8049" data-name="stylecss" data-moddate="2024-07-24 13:26:52 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/21567" class="strong" hx-get="/preview/21567" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21567">
                                (21567)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            7.86 KB
                    </span> 
                

                <time datetime="2024-07-24 13:26:52" class="">
                    2024-07-24 13:26:52
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-route/keep_notes 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="374" data-name="stylecss" data-moddate="2024-06-24 10:51:04 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/21718" class="strong" hx-get="/preview/21718" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21718">
                                (21718)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            374 B
                    </span> 
                

                <time datetime="2024-06-24 10:51:04" class="">
                    2024-06-24 10:51:04
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-route/vanilla 
                </span>
                
            </li>
    

            
    
            <li class="item-list" id="entry" data-size="44" data-name="stylecss" data-moddate="2024-06-13 11:28:14 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/21635" class="strong" hx-get="/preview/21635" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21635">
                                (21635)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            44 B
                    </span> 
                

                <time datetime="2024-06-13 11:28:14" class="">
                    2024-06-13 11:28:14
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-route/src__my 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="851" data-name="stylecss" data-moddate="2024-04-26 10:01:46 +0200 CEST">

                



                    
                    <span>
                        <a href="/preview/21310" class="strong" hx-get="/preview/21310" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21310">
                                (21310)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            851 B
                    </span> 
                

                <time datetime="2024-04-26 10:01:46" class="">
                    2024-04-26 10:01:46
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-journey/_counter_src 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="1869" data-name="stylecss" data-moddate="2024-03-18 09:55:25 +0100 CET">

                



                    
                    <span>
                        <a href="/preview/21347" class="strong" hx-get="/preview/21347" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21347">
                                (21347)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            1.83 KB
                    </span> 
                

                <time datetime="2024-03-18 09:55:25" class="">
                    2024-03-18 09:55:25
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-journey/_headless 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="1176" data-name="stylecss" data-moddate="2024-03-18 09:55:25 +0100 CET">

                



                    
                    <span>
                        <a href="/preview/21293" class="strong" hx-get="/preview/21293" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21293">
                                (21293)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            1.15 KB
                    </span> 
                

                <time datetime="2024-03-18 09:55:25" class="">
                    2024-03-18 09:55:25
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-journey/_avatar 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="851" data-name="stylecss" data-moddate="2024-03-18 09:55:25 +0100 CET">

                



                    
                    <span>
                        <a href="/preview/21416" class="strong" hx-get="/preview/21416" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21416">
                                (21416)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            851 B
                    </span> 
                

                <time datetime="2024-03-18 09:55:25" class="">
                    2024-03-18 09:55:25
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-journey/_performance 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="3239" data-name="stylecss" data-moddate="2024-02-29 11:17:16 +0100 CET">

                



                    
                    <span>
                        <a href="/preview/21405" class="strong" hx-get="/preview/21405" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21405">
                                (21405)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            3.16 KB
                    </span> 
                

                <time datetime="2024-02-29 11:17:16" class="">
                    2024-02-29 11:17:16
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-journey/_notes_src 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="2225" data-name="stylecss" data-moddate="2024-02-23 09:25:18 +0100 CET">

                



                    
                    <span>
                        <a href="/preview/21205" class="strong" hx-get="/preview/21205" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21205">
                                (21205)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            2.17 KB
                    </span> 
                

                <time datetime="2024-02-23 09:25:18" class="">
                    2024-02-23 09:25:18
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-17/src 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="2225" data-name="stylecss" data-moddate="2024-02-23 09:25:18 +0100 CET">

                



                    
                    <span>
                        <a href="/preview/21738" class="strong" hx-get="/preview/21738" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21738">
                                (21738)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            2.17 KB
                    </span> 
                

                <time datetime="2024-02-23 09:25:18" class="">
                    2024-02-23 09:25:18
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-vite/src 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="2374" data-name="stylecss" data-moddate="2024-02-22 16:45:49 +0100 CET">

                



                    
                    <span>
                        <a href="/preview/21392" class="strong" hx-get="/preview/21392" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21392">
                                (21392)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            2.32 KB
                    </span> 
                

                <time datetime="2024-02-22 16:45:49" class="">
                    2024-02-22 16:45:49
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-journey/_modes_dark_light_src 
                </span>
                
            </li>
    
            <li class="item-list" id="entry" data-size="314" data-name="stylecss" data-moddate="2024-02-22 13:43:08 +0100 CET">

                



                    
                    <span>
                        <a href="/preview/21505" class="strong" hx-get="/preview/21505" hx-target="#preview" hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                            style.css
                        </a> 
                        <span class="item-id">
                            <a href="/detail/21505">
                                (21505)
                            </a> 
                        </span>
                    </span>
 
                

                
                    <span class="">
                            314 B
                    </span> 
                

                <time datetime="2024-02-22 13:43:08" class="">
                    2024-02-22 13:43:08
                </time>   
                <span class="">
                    C:/Users/ice/Documents/my-react-journey/_use_effect_src 
                </span>
                
            </li>
    
</ol>
            <div id="button-container" class="button-container">
                <button class="primary" type="button" hx-get="/append?name=style&amp;limit=10&amp;offset=20" hx-target="#list" hx-swap="beforeend" hx-boost="true" hx-trigger="click" id="next">There is 29 results</button>
            </div>

            
        </article>


    </main>

    <article class="preview-wrapper" id="preview-section" style="display: none;">
        <section class="preview">
            <button type="button" class="primary" id="hidePreview" onclick="() =&gt; hidePreview()">x</button>
            
<div id="preview" class=""><pre class="chroma"><code><span class="line"><span class="cl"><span class="o">*</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="k">box-sizing</span><span class="p">:</span> <span class="kc">border-box</span><span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nt">body</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="k">background-color</span><span class="p">:</span> <span class="mh">#FF7C43</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="k">color</span><span class="p">:</span> <span class="kc">white</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="k">margin</span><span class="p">:</span> <span class="mi">0</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="k">padding</span><span class="p">:</span> <span class="mi">2</span><span class="kt">rem</span><span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="p">.</span><span class="nc">container</span><span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="k">display</span><span class="p">:</span> <span class="kc">flex</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="k">flex-direction</span><span class="p">:</span> <span class="kc">column</span><span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nt">button</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="k">border</span><span class="p">:</span> <span class="kc">none</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="k">border-radius</span><span class="p">:</span> <span class="mi">5</span><span class="kt">px</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="k">padding</span><span class="p">:</span> <span class="mi">1</span><span class="kt">rem</span><span class="p">;</span>
</span></span><span class="line"><span class="cl">    <span class="k">cursor</span><span class="p">:</span> <span class="kc">pointer</span><span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span>
</span></span><span class="line"><span class="cl">
</span></span><span class="line"><span class="cl"><span class="nt">h1</span> <span class="p">{</span>
</span></span><span class="line"><span class="cl">    <span class="k">text-align</span><span class="p">:</span> <span class="kc">center</span><span class="p">;</span>
</span></span><span class="line"><span class="cl"><span class="p">}</span></span></span></code></pre></div>

        </section>
    </article>

    <script>



        const previewSectionEl = document.getElementById("preview-section");
        const fileListEl = document.getElementById("fileList");
        previewSectionEl.style.display = "none";


        document.addEventListener("DOMContentLoaded", function () {


            const nextBtn = document.getElementById("next");
            const list = document.getElementById("list");
            const limit = parseInt("10") || 10;
            let offset = limit
            const nameParam = "style";
            const buttonContainer = document.getElementById("button-container");
            const counter = parseInt("29") || 0;


            if (counter <= limit && nextBtn) {
                nextBtn.disabled = true; 
                nextBtn.innerHTML = `There is ${counter} results`
            }

            if (buttonContainer) {

                buttonContainer.addEventListener("click", function (event) {

                    offset += limit

                    
                    


                    let jsonURL = `/append?name=${nameParam}&limit=${limit}&offset=${offset}`


                    if ("" === "on") {
                        jsonURL += `&dir=on`;
                    }

                    if ("" === "on") {
                        jsonURL += `&like=on`;
                    }

                    console.log("jsonURL", jsonURL)

                    nextBtn.innerHTML = `There is ${counter} results`;

                    nextBtn.setAttribute("hx-get", jsonURL);

                    if (offset >= counter) {
                        nextBtn.disabled = true; 
                        nextBtn.innerHTML = `There is ${counter} results` 
                    }
                    htmx.process(nextBtn)

                })
            }




            let listContainer = document.getElementById("list"); 
            if (listContainer) {
                let listItems = Array.from(listContainer.querySelectorAll("li.item-list")); 
                const sortObject = {
                    name: true,
                    size: true,
                    date: true
                };
                let nameAsc = true; 
                let sizeAsc = true; 
                let dateAsc = true; 

                document.getElementById("sort-size").addEventListener("click", (event) => handleSortClick(event))
                document.getElementById("sort-name").addEventListener("click", (event) => handleSortClick(event))
                document.getElementById("sort-date").addEventListener("click", (event) => handleSortClick(event))
            }








        })

    </script>




</body>