<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Founded in db: main.go</title>

    <link rel="stylesheet" href="static/style.css">



    <link rel="stylesheet" href="static/github.css">



    <script src="static/htmx.js" defer="">
    </script>
    <script src="static/utils.js" defer="">
    </script>


    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="static/style.css">
    <link rel="stylesheet" href="static/github.css">
    <script src="static/htmx.js" defer="">
    </script>
    <script src="static/utils.js" defer="">
    </script>
    <style>
        .htmx-indicator {
            opacity: 0
        }

        .htmx-request .htmx-indicator {
            opacity: 1;
            transition: opacity 200ms ease-in;
        }

        .htmx-request.htmx-indicator {
            opacity: 1;
            transition: opacity 200ms ease-in;
        }
    </style>
    <style>
        .htmx-indicator {
            opacity: 0
        }

        .htmx-request .htmx-indicator {
            opacity: 1;
            transition: opacity 200ms ease-in;
        }

        .htmx-request.htmx-indicator {
            opacity: 1;
            transition: opacity 200ms ease-in;
        }
    </style>
</head>






















<body>
    <nav>
        <button id="theme-toggle">☽</button>
    </nav>

    <main class="">
        <article id="fileList" class="" data-counter="8" data-name="main.go" data-offset="0">




            <form action="/search" method="POST" class="form flex column" id="search-form">
                <input class="" type="text" id="name" name="name" required="" placeholder="search" value="main.go">
                <div>
                    <label for="like" class="">
                        <input type="checkbox" id="like" name="like">
                        Like
                    </label>
                    <label for="dir">
                        <input type="checkbox" id="dir" name="dir">
                        Dir
                    </label>
                </div>
                <button class="primary" type="submit" id="submit">Submit</button>
            </form>

            <ul id="list-headers" class="flex row file-headers">
                <li id="sort-name" data-sort-type="name" data-ascending="true">name</li>
                <li id="sort-size" data-sort-type="size" data-ascending="true">size</li>
                <li id="sort-date" data-sort-type="moddate" data-ascending="true">date</li>
            </ul>

            <ol id="list" class="file-list" type="1">


                <li class="item-list" id="entry" data-size="5963" data-name="maingo"
                    data-moddate="2025-05-08 12:51:27 +0200 CEST">






                    <a href="/preview/5881" class="strong" hx-get="/preview/5881" hx-target="#preview"
                        hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                        main.go
                    </a>





                    <span class="">
                        5.82 KB
                    </span>


                    <time datetime="2025-05-08 12:51:27" class="">
                        2025-05-08 12:51:27
                    </time>
                    <span class="">
                        C:/Users/ice/Documents/chroma/_tools/css2style
                        <a href="/detail/5881">
                            (5881)
                        </a>

                    </span>

                </li>

                <li class="item-list" id="entry" data-size="1055" data-name="maingo"
                    data-moddate="2025-05-08 12:51:27 +0200 CEST">






                    <a href="/preview/5883" class="strong" hx-get="/preview/5883" hx-target="#preview"
                        hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                        main.go
                    </a>





                    <span class="">
                        1.03 KB
                    </span>


                    <time datetime="2025-05-08 12:51:27" class="">
                        2025-05-08 12:51:27
                    </time>
                    <span class="">
                        C:/Users/ice/Documents/chroma/_tools/exercise
                        <a href="/detail/5883">
                            (5883)
                        </a>

                    </span>

                </li>

                <li class="item-list" id="entry" data-size="13373" data-name="maingo"
                    data-moddate="2025-05-08 12:51:27 +0200 CEST">






                    <a href="/preview/5910" class="strong" hx-get="/preview/5910" hx-target="#preview"
                        hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                        main.go
                    </a>





                    <span class="">
                        13.06 KB
                    </span>


                    <time datetime="2025-05-08 12:51:27" class="">
                        2025-05-08 12:51:27
                    </time>
                    <span class="">
                        C:/Users/ice/Documents/chroma/cmd/chroma
                        <a href="/detail/5910">
                            (5910)
                        </a>

                    </span>

                </li>

                <li class="item-list" id="entry" data-size="5385" data-name="maingo"
                    data-moddate="2025-05-08 12:51:27 +0200 CEST">






                    <a href="/preview/5914" class="strong" hx-get="/preview/5914" hx-target="#preview"
                        hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                        main.go
                    </a>





                    <span class="">
                        5.26 KB
                    </span>


                    <time datetime="2025-05-08 12:51:27" class="">
                        2025-05-08 12:51:27
                    </time>
                    <span class="">
                        C:/Users/ice/Documents/chroma/cmd/chromad
                        <a href="/detail/5914">
                            (5914)
                        </a>

                    </span>

                </li>

                <li class="item-list" id="entry" data-size="342" data-name="maingo"
                    data-moddate="2025-05-05 09:42:54 +0200 CEST">






                    <a href="/preview/21006" class="strong" hx-get="/preview/21006" hx-target="#preview"
                        hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                        main.go
                    </a>





                    <span class="">
                        342 B
                    </span>


                    <time datetime="2025-05-05 09:42:54" class="">
                        2025-05-05 09:42:54
                    </time>
                    <span class="">
                        C:/Users/ice/Documents/golang/miscellaneous/src
                        <a href="/detail/21006">
                            (21006)
                        </a>

                    </span>

                </li>

                <li class="item-list" id="entry" data-size="878" data-name="maingo"
                    data-moddate="2025-05-05 09:42:54 +0200 CEST">






                    <a href="/preview/20979" class="strong" hx-get="/preview/20979" hx-target="#preview"
                        hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                        main.go
                    </a>





                    <span class="">
                        878 B
                    </span>


                    <time datetime="2025-05-05 09:42:54" class="">
                        2025-05-05 09:42:54
                    </time>
                    <span class="">
                        C:/Users/ice/Documents/golang/miscellaneous/gorutine/delay
                        <a href="/detail/20979">
                            (20979)
                        </a>

                    </span>

                </li>

                <li class="item-list" id="entry" data-size="2029" data-name="maingo"
                    data-moddate="2025-04-07 09:32:47 +0200 CEST">






                    <a href="/preview/20885" class="strong" hx-get="/preview/20885" hx-target="#preview"
                        hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                        main.go
                    </a>





                    <span class="">
                        1.98 KB
                    </span>


                    <time datetime="2025-04-07 09:32:47" class="">
                        2025-04-07 09:32:47
                    </time>
                    <span class="">
                        C:/Users/ice/Documents/go-class-exer-7.11-start/part1
                        <a href="/detail/20885">
                            (20885)
                        </a>

                    </span>

                </li>

                <li class="item-list" id="entry" data-size="2863" data-name="maingo"
                    data-moddate="2025-04-07 09:32:47 +0200 CEST">






                    <a href="/preview/20887" class="strong" hx-get="/preview/20887" hx-target="#preview"
                        hx-swap="innerHTML" hx-boost="true" onclick="showPreview()">
                        main.go
                    </a>





                    <span class="">
                        2.80 KB
                    </span>


                    <time datetime="2025-04-07 09:32:47" class="">
                        2025-04-07 09:32:47
                    </time>
                    <span class="">
                        C:/Users/ice/Documents/go-class-exer-7.11-start/part2
                        <a href="/detail/20887">
                            (20887)
                        </a>

                    </span>

                </li>


            </ol>
            <span id="button-container" class="">
                <button class="primary" type="button"
                    hx-get="/append?name=main.go&amp;like=&amp;limit=10&amp;offset=10&amp;dir=" hx-target="#list"
                    hx-swap="beforeend" hx-boost="true" hx-trigger="click" id="next" disabled="">There is 8
                    results</button>
            </span>


        </article>


    </main>

    <article class="preview-container" id="preview-section" style="display: none;">
        <section class="preview">
            <button type="button" class="primary" id="hidePreview" onclick="() => hidePreview()">x</button>

            <div id="preview">
                Content preview
            </div>

        </section>
    </article>

    <script>



        const previewSectionEl = document.getElementById("preview-section");
        const fileListEl = document.getElementById("fileList");
        previewSectionEl.style.display = "none";


        document.addEventListener("DOMContentLoaded", function () {


            const nextBtn = document.getElementById("next");
            const list = document.getElementById("list");
            const limit = parseInt("10") || 10;
            let offset = limit
            const nameParam = "main.go";
            const buttonContainer = document.getElementById("button-container");
            const counter = parseInt("8") || 0;


            if (counter <= limit && nextBtn) {
                nextBtn.disabled = true;
                nextBtn.innerHTML = `There is ${counter} results`
            }

            if (buttonContainer) {

                buttonContainer.addEventListener("click", function (event) {

                    offset += limit





                    let jsonURL = `/append?name=${nameParam}&limit=${limit}&offset=${offset}`


                    if ("" === "on") {
                        jsonURL += `&dir=on`;
                    }

                    if ("" === "on") {
                        jsonURL += `&like=on`;
                    }

                    console.log("jsonURL", jsonURL)

                    nextBtn.innerHTML = `There is ${counter} results`;

                    nextBtn.setAttribute("hx-get", jsonURL);

                    if (offset >= counter) {
                        nextBtn.disabled = true;
                        nextBtn.innerHTML = `There is ${counter} results`
                    }
                    htmx.process(nextBtn)

                })
            }




            let listContainer = document.getElementById("list");
            if (listContainer) {
                let listItems = Array.from(listContainer.querySelectorAll("li.item-list"));
                const sortObject = {
                    name: true,
                    size: true,
                    date: true
                };
                let nameAsc = true;
                let sizeAsc = true;
                let dateAsc = true;

                document.getElementById("sort-size").addEventListener("click", (event) => handleSortClick(event))
                document.getElementById("sort-name").addEventListener("click", (event) => handleSortClick(event))
                document.getElementById("sort-date").addEventListener("click", (event) => handleSortClick(event))
            }








        })

    </script>




</body>