{{ define "add"}}
<!DOCTYPE html>

{{ template "header" .HeaderTitle }}

<body>
    <pre>add.html</pre>
    <nav>
        <button id="theme-toggle">switch theme</button>
    </nav>

    {{ template "add-path-form" }}

    {{ if .Text }}
        <p class="text">
            {{ .Text }}

        </p>
    {{ end }}

    <main class="">
        <article id="fileList" class="">
            <ol id="list" class="file-list" type="1">
                {{ template "directory_list" . }}
            </ol>
        </article>
    </main>



</body>

</html>
{{ end }}



{{ define "directory_list"  }}
    {{ if .Indexeddirs }}
        {{ range .Indexeddirs }}
            <li 
                class ="item-list"
                id="entry"
                data-id="{{ .Id }}"
                data-name="{{ .Path }}"
                data-indexed="{{ .Done}}"
                data-created="{{ .Created }}"
            >
                <span class="item-id">
                               {{ .Path }}
                </span>

                {{ .Done }}
 
                <time datetime="{{ .Created | formatDate }}" class="">
                    {{ .Created | formatDate }}
                </time>  
            </li>
        {{ end }}
    {{ else }}
        <li>No directories indexed yet.</li>
    {{ end }}
{{ end }}



{{ define "add-path-form" }}
<form action="/add" method="POST" class="form flex column" id="search-form" >
    <input 
        class=""
        type="text" 
        id="path" 
        name="path" 
        required placeholder="add path" 
    >
    <button class="primary" type="submit" id="submit">Add Path</button>
</form>
{{ end }}
