{{ define "detail"}}
<!DOCTYPE html>
<!-- {{ template "header" .Title }} -->

<body>
    <main class="">

        <!-- {{ template "form"}} -->

        <h1 class="title">
            {{ .Name }}.{{ .Ext }}
        </h1>
        <p class="subtitle">
            {{ .SizeStr }}; {{ .ModTime }}
        </p>
        <p>
            {{ .Path }}\{{ .Name }}.{{ .Ext }}
        </p>

<!-- 
            <ul class="file-detail">
                <li>
                    Id: {{ .Id }}
                </li>
                <li>
                    Ext: {{ .Ext }}
                </li>
                <li>
                    IsDir: {{ .IsDir }}
                </li>
                <li>
                    Size: {{ .Size }}
                </li>
                <li>
                    SizeStr: {{ .SizeStr }}
                </li>
                <li>
                    ModTime: {{ .ModTime }}
                </li>
                <li>
                    IsImage: {{ .IsImage }}
                </li>
                <li>
                    IsText: {{ .IsText }}
                </li>
                <li>
                    IsVideo: {{ .IsVideo }}
                </li>
            </ul> -->

            {{ if .IsText }}
            {{ template "p-content" . }}
            {{ else }}
            <p>File is not readable</p>
            {{ end }}
    </main>


</body>

</html>
{{ end }}


{{ block "p-content" . }}
<div id="preview">
    {{ .HTML }}
</div>
{{ end }}