
{{ template "header" .Title }}

<main class="main">

    <article id="fileList" class="grid-container">
        {{ if .Body }}
        <h4> 
            {{ .Body.message }}
        </h4>
        {{ if .Body.error }}<p>{{ .Body.error }}</p>{{ end }}
        {{ if .Body.path }}<p>Path: {{ .Body.path }}</p>{{ end }}
        {{end}}

        {{ template "add-path-form"  }}

        <ul id="list-headers" class="file-list headers">
            <li id="sort-name" data-sort-type="name" data-ascending="true">name</li>
            <li id="sort-size" data-sort-type="size" data-ascending="true">size</li>
            <li id="sort-date" data-sort-type="moddate" data-ascending="true">date</li>
        </ul>

        <ol id="list" class="file-list" type="1">
        </ol>
        
        <ol id="list" class="file-list" type="1">
            {{ range .List }}
                {{ template "directory_list" . }}
            {{end}}
        </ol>
        
    </article>
</main>


{{ block "directory_list" . }}
    <li class="dir-item" id="entry" data-id="{{ .Id }}">
        <span class="item-name">
            {{ .Path }}
        </span>
        <button class="delete" data-id="{{ .Id }}" data-name="{{ .Path }}">x</button>
        <button class="scan" data-id="{{ .Id }}" data-path="{{ .Path }}">
            {{ if .IsDone }}Rescan{{ else }}Scan{{ end }}
        </button>
        <time datetime="{{ .CreatedAt | formatDate }}" class="">
            {{ .CreatedAt | formatDate }}
        </time>
    </li>
{{ end }}



{{ define "add-path-form" }}
<form action="/dirs" method="POST" class="form flex column" id="search-form">
    <label for="path">Add Directory Path to Scan:</label>
    <input class="" type="text" id="path" name="path" required placeholder="add path">
    <button class="primary" type="submit" id="submit">Add Path</button>
</form>
{{ end }}


</body>
</html>



