

<div id="entry-details-section" class="section">
    <h2>Entry Details</h2>
    <ul id="list-headers" class="detail-list">`
        <li>{{ .Directory }}</li>
        <li>{{ .Name }}</li>
        <li>{{ .Ext }}</li>
        <li>{{ .Id }}</li>
        <li>{{ .IsDir }}</li>
        <li>{{ .Size }}</li>
        <li>{{ .ModTime }}</li>
        <li>{{ .DirectoryId }}</li>
        <li>{{ .Keywords }}</li>
        <li>{{ .SizeSimple }}</li>
        <li>{{ .ModTimeSimple }}</li>
        <li>{{ .Type }}</li>
        <li>{{ .Url }}</li>
    </ul>
</div>

