
{{ block "list" . }}
{{ range .FilesDataList.List }}
<li class="item-list" data-size="{{ .Size }}" data-name="{{ .Name }}{{ .Ext }}" data-moddate="{{ .ModTime }}">
    <span class="item-name">
        <a href="/item-detail/{{.Id}}" class="strong" hx-get="/item-detail/{{.Id}}" hx-target="#preview"
            hx-swap="innerHTML" hx-boost="true" onClick="showPreview()">
            {{ .Name }}{{ if .Ext }}.{{ .Ext }}{{ end}}
        </a>
    </span>
    <span class="item-size">
        <a href="/detail/{{ .Id }}">
            {{ if .IsDir }}folder{{ else }}{{ .SizeSimple }}{{ end}}
        </a>
        {{ if eq .Type "txt" }}
        <a href="/preview/{{.Id}}" class="strong" hx-get="/preview/{{.Id}}" hx-target="#preview" hx-swap="innerHTML"
            hx-boost="true" onClick="showPreview()">
            {{ if .Ext }}.{{ .Ext }}{{ end}}
            {{ .Type }}
        </a>
        {{ else if eq .Type "image" }}
        <span>
            <a href="/preview-image/{{.Id}}" class="strong" hx-get="/preview-image/{{.Id}}" hx-target="#preview"
                hx-swap="innerHTML" hx-boost="true" onClick="showPreview()"> {{ .Type }}
            </a>
        </span>
        </a>
        {{ else if eq .Type "video" }}
        <span>
            <a href="/preview-video/{{.Id}}" class="strong" hx-get="/preview-video/{{.Id}}" hx-target="#preview"
                hx-swap="innerHTML" hx-boost="true" onClick="showPreview()"> {{ .Type }}
            </a>
        </span>
        </a>
        {{ end}}
    </span>

    <time datetime="{{ .ModTime  }}" class="">
        {{ .ModTimeSimple }}
    </time>

    <span class="item-directory">
        {{ .Directory }}
    </span>
    <span class="item-Id">
        {{ .Id }}; {{ .TsRank}}
    </span>
</li>
{{ end }}
{{ end }}


