{{ define "startpage" }}
<!DOCTYPE html>
<html lang="en">
{{ template "header" }}
<title>Search page</title>

<body>
    <nav>
        <button id="theme-toggle">switch theme</button>
    </nav>
    <main class="startpage">
        {{ template "form" }}
        {{ if .Error }}
        <p class="">
            {{ .Error.Error }}
                {{ if .Error.Msg }}
                <br />
                    {{ .Error.Msg }}
                {{ end }}
        {{ end }}
        </p>
    </main>
</body>
</html>
{{ end }}




