{{ define "error" }}
<!DOCTYPE html>
<html lang="en">
        {{ template "header"}}
    <body>
        <pre>error.html</pre>
        <main class="search-page">
            <main class="startpage">
                <p class="">Nothing was found</p>
                {{ if .Error }}
                    <p class="error">
                    {{ .Error.Error }}
                    {{ if .Error.Msg }}
                    <br/>
                        {{ .Error.Msg }}
                    {{ end }}
                    
                {{ end }}
                
                {{ template "form" }}
                {{ if .Error }}
                <p class="">
                    {{ .Error.Error }}
                    {{ if .Error.Msg }}
                    <br />
                    {{ .Error.Msg }}
                    {{ end }}
                    {{ end }}
                </p>
            </main>
            {{ template "form" }}
            </p>
        </main>
        <p>
             {{ . }}
        </p>
    </body>
    </html>
{{ end }}
    
    
