{{ define "index"}}
<!DOCTYPE html>

{{ template "header" .HeaderTitle }}

<body>
    <nav  class="navbar">
        <button id="theme-toggle">switch theme</button>
    </nav>
    {{ if equals .Params.NotFound "true" }}
    <main class="search-page column gap-y-l">
        {{ if notequals .Params.StartPage "true" }}
        <p class="">Nothing was found: <strong>{{ .Params.Name }}</strong></p>
        {{ end }}
        {{ template "form" .Params }}
        <!-- <main class="startpage">
        </main> -->
    </main>
    {{ else }}
    
    <main class="main">
        <article id="fileList" class="grid-container" data-counter="{{ .Counter }}" data-name="{{ .Params.Name }}"
            data-offset="{{ .Params.Offset }}">

            {{ template "form" .Params }}

            <ul id="list-headers" class="file-list headers">
                <li id="sort-name" data-sort-type="name" data-ascending="true">name</li>
                <li id="sort-size" data-sort-type="size" data-ascending="true">size</li>
                <li id="sort-date" data-sort-type="moddate" data-ascending="true">date</li>
            </ul>
            <!-- <p>{{ .Params }}</p> -->
            <ol id="list" class="file-list" type="1">
                {{ template "list" . }}
            </ol>
            <div id="button-container" class="button-container">
                <button class="primary" type="button"
                    hx-get="/append?name={{ .Params.Name }}&like={{ .Params.Like }}&limit={{ .Params.Limit }}&offset={{ .Params.Limit }}&dir={{ .Params.Dir }}&keywords={{ .Params.Keywords }}"
                    hx-target="#list" hx-swap="beforeend" hx-boost="true" hx-trigger="click" id="next">There is {{
                    .Counter }} results.
                </button>
            </div>
        </article>
    </main>

    <article class="preview-wrapper" id="preview-section">
        <section class="preview">
            <button type="button" class="primary close-btn" id="hidePreview" onClick="() => hidePreview()">x</button>
            {{ template "preview-content" . }}
        </section>
    </article>
    {{ end }}

    <script>



        const previewSectionEl = document.getElementById("preview-section");
        const fileListEl = document.getElementById("fileList");
        previewSectionEl.style.display = "none";


        document.addEventListener("DOMContentLoaded", function () {


            const nextBtn = document.getElementById("next");
            const list = document.getElementById("list");
            const limit = parseInt("{{ .Params.Limit }}") || 10;
            let offset = limit
            const nameParam = "{{ .Params.Name }}";
            const buttonContainer = document.getElementById("button-container");
            const counter = parseInt("{{ .Counter }}") || 0;


            if (counter <= limit && nextBtn) {
                nextBtn.disabled = true; // Disable the button
                nextBtn.innerHTML = `There is ${counter} results`// Update button text
            }

            if (buttonContainer) {

                buttonContainer.addEventListener("click", function (event) {

                    offset += limit

                    // let like = `{{ .Params.Like }}` === `on` ? true : false
                    // let dir = `{{ .Params.Dir }}` === `on` ? true : false


                    let jsonURL = `/append?name=${nameParam}&limit=${limit}&offset=${offset}`


                    if ("{{ .Params.Dir }}" === "on") {
                        jsonURL += `&dir=on`;
                    }

                    if ("{{ .Params.Like }}" === "on") {
                        jsonURL += `&like=on`;
                    }

                    if ("{{ .Params.Keywords }}" === "on") {
                        jsonURL += `&keywords=on`;
                    }

                    console.log("jsonURL", jsonURL)

                    nextBtn.innerHTML = `There is ${counter} results`;

                    nextBtn.setAttribute("hx-get", jsonURL);

                    if (offset >= counter) {
                        nextBtn.disabled = true; // Disable the button
                        nextBtn.innerHTML = `There is ${counter} results` // Update button text
                    }
                    htmx.process(nextBtn)

                })
            }




            let listContainer = document.getElementById("list"); // The parent container of the list items
            if (listContainer) {
                let listItems = Array.from(listContainer.querySelectorAll("li.item-list")); // Get all list items
                const sortObject = {
                    name: true,
                    size: true,
                    date: true
                };
                let nameAsc = true; // Flag for ascending/descending order
                let sizeAsc = true; // Flag for ascending/descending order
                let dateAsc = true; // Flag for ascending/descending order

                document.getElementById("sort-size").addEventListener("click", (event) => handleSortClick(event))
                document.getElementById("sort-name").addEventListener("click", (event) => handleSortClick(event))
                document.getElementById("sort-date").addEventListener("click", (event) => handleSortClick(event))
            }








        })

    </script>

</body>

</html>
{{ end }}


<!-- {{ block "preview-content" . }}
<div id="preview">
    {{ .Text | html }}
</div>
{{ end }} -->