@import "https://unpkg.com/open-props/normalize.min.css";
@import "https://unpkg.com/open-props";
@import "https://unpkg.com/open-props/buttons.min.css";

@import "https://unpkg.com/open-props/theme.light.switch.min.css";
@import "https://unpkg.com/open-props/theme.dark.switch.min.css";



/* html[data-theme="auto"], html:not([data-theme]) {
  color-scheme: light dark;
  background: var(--surface-1);
  color: var(--text-1);
}


html[data-theme="light"] {
  color-scheme: light;
  background: var(--surface-6);
  color: black;
}


html[data-theme="dark"] {
  --surface-2: rgb(29, 53, 29);
  --surface-3: rgba(155, 107, 115, 0.075);
  color-scheme: dark;
  color: var(--text-2);
} */


body {
  font-family: var(--font-handwritten);
  font-family: var(--font-industrial);
  font-family: var(----font-monospace-slab-serif);
}

.startpage {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: var(--color-background);

}

.form {
  align-items: center;
  justify-content: center;
  gap: var(--size-fluid-2)
}

.flex {
  display: flex;
}

.column {
  flex-direction: column;
}

.row {
  flex-direction: row;
}

.file-headers {
  list-style: none;
}



ol.file-list li:nth-child(odd) {
  background: var(--surface-3);
}

ol.file-list li:nth-child(even) {
  background: var(--surface-2);
}

ol.file-list li {
  list-style-position: inside;
  margin-left: var(--size-fluid-1);
  padding: var(--size-1) var(--size-fluid-1);
  max-width: calc(100% - var(--size-fluid-2));
  position: static;
  top: 0;
  left: 0;
}

ol.file-list li::marker {
  color: red;
  font-weight: bold;
  position: absolute;
  right: 0;
}

.item-data {
  padding-left: var(--size-fluid-2);
}


@media screen and (max-width: 600px) {

  ol.file-list li {
    list-style-position: inside;
    max-width: unset;

  }
  .file-list {
    width: 100vw;
    padding: 0;
  }

}


ol.file-list {
  counter-reset: item;
  padding-left: 0;
}

ol.file-list > li {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  position: relative;
  padding-left: 2em;
  list-style: none;
}

ol.file-list > li::before {
  counter-increment: item;
  content: counter(item) ".";
  position: absolute;
  left: 1rem;
  font-weight: bold;
  opacity: 0.1;
  font-size: 1.33rem;

}